CLAUDE.md
.env
certs/*
data/*
models/*
cmd/gen-certs/*
cmd/ota-keygen/*
.claude
*.exe
report.md
benchmark_*
argus_esp32.cpp
firmware_v1.cpp
firmware_v2.cpp
register.json
login.json
run_benchmark.ps1
*.py
node_modules
dist
*.tsbuildinfo
vite.config.js
vite.config.d.ts
*test*

*.md
!README.md